body {
    font-family: Arial, sans-serif;
    margin: 0px 100px;
}
.headLine {
    font-size: 32px;
    margin-bottom: 20px;
}
.abstract {
    margin: 0px 200px;
    border: 1px solid black;
    padding: 10px;
    line-height: 22px;
}
.normal {
    margin-top: 20px;
}
.list {
    margin-top: 5px;
}
