body {
    max-width: 900px;
    font-family: 'Verdana', sans-serif;
    color: #464646;
    margin: 0 auto 1000px;
}
a {
    color: #1976d2;
}
.header {
    background-color: #1976d2;
    color: white;
    text-align: center;
    padding:10px;
    font-size: 20px;
}
.pager {
     background-color: #1076c2;
     color: white;
     text-align: center;
     padding:10px;
     font-size: 20px;
}
.headLine {
    font-size: 32px;
    padding: 20px 0 10px 0;
    color: #202020;
    text-align: center;
}
.headLine2 {
    font-size: 24px;
    padding: 10px 0 4px 0;
    color: #202020;
    text-align: left;
}
.headLine3 {
    font-size: 20px;
    padding: 8px 0 0 0;
    color: #202020;
    text-align: left;
}
.headLine4 {
     font-size: 16px;
     padding: 6px 0 0 0;
     font-weight: bold;
     color: #202020;
     text-align: left;
 }
.abstract {
    margin: 0 50px 20px;
    border: 1px solid black;
    padding: 10px;
    line-height: 22px;
    text-align: justify;
}
.normal {
    margin-top: 4px;
    padding: 2px 0;
}
.highlight {
    padding: 8px 0;
    font-weight: bold;
    text-align: center;
}
.equHolder {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.equLabel {
    float: right;
    display: inline-block;
}
.list {
    margin-top: 8px;
}
.listItem {
    margin-top: 4px;
    margin-left: 8px;
}
.spreadList .listItem {
    padding: 5px 0;
}
.listItem::before {
    content: "‣";
    font-size: 30px;
    line-height: 10px;
    color: #2f2fdc;
    position: relative;
    top: 6px;
}
.normalImage {
    width:400px;
}
.extendedImage .normalImage {
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    cursor: zoom-out;
    background-color: white;
    padding-bottom: 1000px;
}
.insertImage {
    cursor: zoom-in;
    float: right;
    padding: 10px;
    border: 1px solid gray;
}
.imageLabel {
    text-align: center;
    font-size: 10px;
}
.extendedImage .imageLabel {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1976d2;
    color: white;
    z-index: 100;
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    width: fit-content;
    max-width: 90%;
}
.matIcon {

}
.optionalOpening {
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    padding: 0 10px;
}
.optionalParagraph.optionalStatusClosed > div > .optionalCloser {
    visibility: hidden;
}
.optionalCloser {
    background-color: #328904;
    color: white;
    cursor: row-resize;
    padding: 3px 7px;
    border-radius: 4px;
}
.optionalParagraph {
    margin-top: 20px;
}
.optionalParagraph > .optionalClosing {
    display: none;
}
.optionalParagraph > .optionalClosing::after {
    content: " touch to open";
    background-color: #7f1ed4;
    color: white;
    cursor: row-resize;
    padding: 3px 7px;
    border-radius: 4px;
}
.optionalParagraph.optionalStatusClosed > .optionalClosing {
    display: block;
}

.optionalParagraph.optionalStatusClosed > .optionalOpening {
    display: none;
}
